#header {
    background-color: lightblue;
    padding: 10px;
}

.content {
    background-color: #00FFFF;
    padding: 10px;
}

.highlight {
    color: violet;
    font-weight: bold;
}

a:link {
    color: blue;
}

a:visited {
    color: orange;
}

a:hover {
    color: green;
}




